---
http_interactions:
- request:
    method: get
    uri: https://apilayer.net/api/check?access_key=API_KEY&email=abc123@example.com&smtp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Rate-Limit:
      - '1'
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '1623684619'
      X-Apilayer-Transaction-Id:
      - 775353aa-7365-48c3-9e6f-b2f3047ec6d5
      X-Request-Time:
      - '0.015'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"rate_limit_reached","info":"You
        have exceeded the maximum rate limitation allowed on your subscription plan.
        Please refer to the \"Rate Limits\" section of the API Documentation for details.
        "}}'
  recorded_at: Mon, 14 Jun 2021 15:30:19 GMT
recorded_with: VCR 3.0.3
