---
http_interactions:
- request:
    method: get
    uri: https://apilayer.net/api/check?access_key=5a2a8586065cd0273cd88f04a76fb9f4&email=saaexample@.com&smtp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Rate-Limit:
      - '1'
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '1623684622'
      X-Apilayer-Transaction-Id:
      - 84b6c8f4-cd79-461a-8eb0-b02d162d66fd
      X-Request-Time:
      - '0.026'
    body:
      encoding: UTF-8
      string: '{"email":"saaexample@.com","did_you_mean":"","user":"saaexample","domain":".com","format_valid":false,"mx_found":null,"smtp_check":false,"catch_all":null,"role":false,"disposable":false,"free":false,"score":0.64}'
  recorded_at: Mon, 14 Jun 2021 15:30:21 GMT
recorded_with: VCR 3.0.3
