---
http_interactions:
- request:
    method: get
    uri: https://apilayer.net/api/check?access_key=API_KEY&email=support@apilayer.com&smtp=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Rate-Limit:
      - '1'
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '1623684619'
      X-Apilayer-Cache-Ca:
      - 'true'
      X-Apilayer-Cache-M:
      - 'true'
      X-Apilayer-Transaction-Id:
      - ea3cd028-c3d7-4a81-93db-4a3a7b8291fc
      X-Request-Time:
      - '0.023'
    body:
      encoding: UTF-8
      string: '{"email":"support@apilayer.com","did_you_mean":"","user":"support","domain":"apilayer.com","format_valid":true,"mx_found":true,"smtp_check":false,"catch_all":null,"role":true,"disposable":false,"free":false,"score":0.64}'
  recorded_at: Mon, 14 Jun 2021 15:30:18 GMT
recorded_with: VCR 3.0.3
